BoxTSLMod/tslpatchdata
BoxTSLMod/Dependencies
BoxTSLMod/Scripts/*.nss
BoxTSLMod/Scripts/Source
BoxTSLMod/Scripts/Compiled
BoxTSLMod/Overwrites/*.ncs
BoxTSLMod/Scripts/nwnnsscomp.exe
BoxTSLMod/Scripts/nwscript.nss
BoxTSLMod/Scripts/Include/Top/box_inc_forcefeat.nss
BoxTSLMod/Scripts/Include/Top/box_inc_poison.nss
BoxTSLMod/Scripts/Include/Top/box_inc_shieldindex.nss
BoxTSLMod/installlog.rtf
BoxTSLMod/installlog.txt
BoxTSLMod/Scripts/tmp.txt
BoxTSLMod/TSLPatcher.exe

